{% extends "base.html" %}

{% block conteudo %}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<h1 align="center">Escolha 5 disciplinas para esse semestre!</h1>

<br>

<ul>
    <h1>Primeiro Semestre</h1>
    <li>
        <form>
                <input type="radio" name="S1.1" value="FDB">Fundamentos de Banco de Dados<br>
                <input type="radio" name="S1.2" value="IoT">Internet das Coisas<br>
                <input type="radio" name="S1.3" value="LP1">Linguagem de Programação<br>
        <h1>Segundo Semestre</h1>
    
                <input type="radio" name="S2.1" value="DevOps">Ambiente de Desenvolvimento e Operação<br>
                <input type="radio" name="S2.2" value="ES">Engenharia de Software<br>
                <input type="radio" name="S2.3" value="LP2">Linguagem de Programação 2<br> 
      
        <h1>Terceiro Semestre</h1>
                <input type="radio" name="S3.1" value="AMS">Análise e Modelagem de Sistemas<br>
                <input type="radio" name="S3.2" value="ED">Estrutura de Dados<br>
                <input type="radio" name="S3.3" value="MPN">Modelagem de Professos de Negócio<br>
        <h1>Quarto Semestre</h1>
    
                <input type="radio" name="S4.1" value="DDM">Desenvolvimento para Dispositivos Móveis<br>
                <input type="radio" name="S4.2" value="APS">Arquitetura e Projeto de Sistemas<br>
                <input type="radio" name="S4.3" value="QS">Qualidade de Software<br>
                <br>
                <br>
                <input type='submit'value='Registrar'>

        </form> 
    </li>
</ul>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

{%endblock%}