
{% extends "base.html" %}
{% block conteudo %}
{%load static%}
<br/><br/><br/><br/><br/>

<center>
  <h1 id="titulo">SPRINGFIELD</h1><br/>
  <h1>VESTIBULAR</h1><br/>
  <h3><a href="inscricao.html">INSCRIÇÕES ABERTAS</h3></a><br/>
  <h1>EVENTOS</h1><br/>
  <h3><a href="#">VEJA TODOS OS EVENTOS</h3></a>
</center>

<br/><br/><br/><br/>
{% endblock %}

<!--<div class=" w3-section " style="max-width:1000px ">
  <img class="mySlides" src="{% static '..\static\banner.png' %}" style="width:195%">
  <img class="mySlides" src="{% static '..\static\banner2.png' %}" style="width:195%">
  <img class="mySlides" src="{% static '..\static\banner3.png' %}" style="width:195%">
</div>
<script>
var myIndex = 0;
carousel();
function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none"; }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 5000); }
</script>
<div>
	<a href="#"><img id="card1" src="{% static '..\static\card1.jpg' %}"/></a>
	<a href="#"><img id="card1" src="{% static '..\static\card22.jpg' %}"/></a>
	<a href="#"><img id="card1" src="{% static '..\static\card3.jpg' %}"/></a>
	<a href="#"><img id="card1" src="{% static '..\static\card4.jpg' %}"/></a>
</div>-->